<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body{
      background-color: grey;
    }
    .box {
      background-color: rgb(248, 188, 248);
      font-size: 40px;
      text-align: center;
      line-height: 200px;
      height: 200px;
      width: 200px;
    }
    [v-cloak] {
      display: none;
    }
    input {
      margin: 10px;
      display: block;
    }
  </style>
</head>
<body>
  <div id="app" v-cloak>
    <login-form/>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const app = Vue.createApp({});

    app.component('login-form', {
      template: `
        <form @submit.prevent="handleSubmit()">
          <h3>{{title}}</h3>
          <custom-input v-for="(input, index) in inputs" :key="index" v-model="input.value" :label="input.label" :type="input.type"/>
          <button>Log in</button>
        </form>
      `,
      data(){
        return {
          title: "Login form",
          inputs: [
            {
              label: 'Email',
              value: '',
              type: 'email'
            },
            {
              label: 'Password',
              value: '',
              type: 'password'
            }
          ],
        }
      }, methods: {
        handleSubmit() {
          console.log('submitted');
          for(const input in this.inputs){
            console.log(this.inputs[input]["value"]);
          }
        }
      },
      components: ['custom-input']
    });

    app.component('custom-input', {
      template: `
      <label>
        {{label}}
        <input :type="type" v-model="inputValue">  
      </label>
      `,
      props: ['label', 'modelValue', 'type'],
      computed: {
        inputValue: {
          get(){
            return this.modelValue
          },
          set(value){
            this.$emit('update:modelValue', value);//update data in higher component
          }
        }
      }
    });
    app.mount("#app");

  </script>
</body>
</html>